<div [formGroup]="form" class="flex flex-col">
  <label class="mb-2">{{ label }}</label>
  <input
    [formControlName]="name"
    type="password"
    [placeholder]="placeholder"
    [class]='"outline-none font-sm border-[1.1px] rounded px-2 py-1 focus:border-[1.5px] " + ((fieldControl?.invalid && !fieldControl?.untouched) ? " border-danger-500 " : " border-primary-500 ")'>
  <div *ngIf="fieldControl?.invalid && !fieldControl?.untouched" class="text-danger-500 text-sm">
    <div *ngIf="fieldControl?.errors?.['required']">{{ label }} is required!.</div>
  </div>
</div>
