<div *ngIf="sharedAuth.isLoggedIn()" class="flex h-screen bg-background-500">

  <side-bar />
  <!-- Main Content -->
  <div class="flex-1 h-full overflow-auto">
    <div class="w-full h-full">
      <div class="flex flex-col">
        <nav class="px-5 py-2 h-12 border-b border-l bg-white">
          <div class="flex justify-between items-center h-full w-full">
            <div></div>
            <app-button
              name="Logout"
              type="secondary"
              (onClick)="logout()"
              variant="outline"
            />
          </div>
        </nav>


        <div class="p-5">
          <div></div>
          <router-outlet />
        </div>

      </div>
    </div>
  </div>
</div>

<div *ngIf="!sharedAuth.isLoggedIn()">
  <router-outlet />
</div>
